{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link
      rel="stylesheet"
      href="{% static 'fontawesome-free-6.0.0-web/css/all.css' %}"
    />
    <title>Document</title>
  </head>
  <body>
    <div class="register"></div>
    <a href="{% url 'myapp:index_page' %}" class="home_icon"
      ><i class="fa-solid fa-arrow-left"></i
    ></a>
    <div class="form_div">
      <form method="POST" class="rform">
        <h1 id="register">Create your account</h1>
        {% csrf_token %}

        <label for="id_username">Username</label>
        <div class="inputf">{{ form.username }}</div>

        <label for="id_email">Email</label>
        <div class="inputf">{{ form.email }}</div>

        <label for="id_password1">Password</label>
        <div class="inputf">{{ form.password1 }}</div>

        <label for="id_password2">Confirm Password</label>
        <div class="inputf">{{ form.password2 }}</div>

        <div class="errors">
          {% if form.errors %}
          <div>
            {% for feild in form %}
            <div>
              {% for error in feild.errors %}
              <div class="alert-danger">
                <ul>
                  <li><i>{{ error|escape }}</i></li>
                </ul>
              </div>
              {% endfor %}
            </div>
            {% endfor %}
          </div>
          {% endif %}
        </div>

        <div class="btn_div">
          <button class="btn" type="submit">Register</button>
        </div>
        <div class="link-div">
          <a href="{% url 'myapp:login_page' %}" class="log_reg"
            >if already have an account then <strong>Log_in</strong>
          </a>
        </div>
      </form>
    </div>
  </body>
</html>
